In [36]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import classification_report

In [37]:
# df = pd.read_csv('TrainingData.csv')
df = pd.read_csv('./trainingData/TrainData_withoutWord.csv')
# df = df.drop(columns=['word'])
df = pd.get_dummies(data= df, columns=['Bank'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height
groupLabel = {'Account':'red', 'Amount':'blue', 'Name':'orange', 'NotUse':'gray', 'RefCode':'brown', 'Timing':'pink'}
df

,level,page_num,block_num,par_num,line_num,left,top,width,height,CEng,Ctha,CNum,CSym,label,Bank_Kbank,Bank_krungsri,range_width,range_height
0,4,1,1,1,1,41,11,645,71,0,12,1,5,NotUse,1,0,686,82
1,4,1,1,1,1,42,11,608,70,0,11,1,4,NotUse,1,0,650,81
2,4,1,1,1,1,42,15,201,35,0,11,0,3,NotUse,1,0,243,50
3,4,1,1,1,1,78,28,800,118,0,11,0,6,NotUse,1,0,878,146
4,4,1,1,1,1,78,28,800,118,2,11,0,4,NotUse,1,0,878,146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3378,4,1,13,1,1,313,844,287,26,0,4,9,0,RefCode,0,1,600,870
3379,4,1,13,1,1,313,844,287,26,4,0,9,0,RefCode,0,1,600,870
3380,4,1,13,1,1,313,844,288,26,4,0,9,0,RefCode,0,1,601,870
3381,4,1,13,1,1,313,1071,286,26,4,0,9,0,RefCode,0,1,599,1097
3382,4,1,14,1,1,313,1071,287,26,4,0,9,0,RefCode,0,1,600,1097

feature important

In [38]:
dataX = df.drop(columns=['label'])
dataY = df[['label']]
modelClf = tree.DecisionTreeClassifier().fit(dataX, dataY)

In [39]:
array_important = []

for i,j in enumerate(dataX):
  score_f = modelClf.feature_importances_
  print(j, '= ', score_f[i])

level =  0.0
page_num =  0.0
block_num =  0.019611422021461544
par_num =  0.0006950655278522392
line_num =  0.00639943277442218
left =  0.005621607317806825
top =  0.26831023552028493
width =  0.052986423137551426
height =  0.04173253030521944
CEng =  0.009483576143628608
Ctha =  0.003040911684353546
CNum =  0.43071400802071624
CSym =  0.010091707716673837
Bank_Kbank =  0.0
Bank_krungsri =  0.00042773263252445475
range_width =  0.009513135110616284
range_height =  0.14137221208688838

In [40]:
X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2, random_state=42)

parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print(KNN_Model.best_params_)
print(KNN_Model.best_score_)

{'algorithm': 'brute', 'n_neighbors': 3, 'weights': 'distance'}
0.9715457912434948
/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [41]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       1.00      1.00      1.00        15
      Amount       0.91      0.97      0.94        62
        Name       1.00      0.75      0.86         4
      NotUse       0.99      0.98      0.98       428
     RefCode       0.98      0.98      0.98        59
      Timing       0.98      1.00      0.99       109

    accuracy                           0.98       677
   macro avg       0.98      0.95      0.96       677
weighted avg       0.98      0.98      0.98       677

Using Normalize

In [42]:
# df = pd.read_csv('TrainingData.csv')
df = pd.read_csv('./trainingData/TrainData_withoutWord.csv')
# df = df.drop(columns=['word'])
df = pd.get_dummies(data= df, columns=['Bank'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height
df

,level,page_num,block_num,par_num,line_num,left,top,width,height,CEng,Ctha,CNum,CSym,label,Bank_Kbank,Bank_krungsri,range_width,range_height
0,4,1,1,1,1,41,11,645,71,0,12,1,5,NotUse,1,0,686,82
1,4,1,1,1,1,42,11,608,70,0,11,1,4,NotUse,1,0,650,81
2,4,1,1,1,1,42,15,201,35,0,11,0,3,NotUse,1,0,243,50
3,4,1,1,1,1,78,28,800,118,0,11,0,6,NotUse,1,0,878,146
4,4,1,1,1,1,78,28,800,118,2,11,0,4,NotUse,1,0,878,146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3378,4,1,13,1,1,313,844,287,26,0,4,9,0,RefCode,0,1,600,870
3379,4,1,13,1,1,313,844,287,26,4,0,9,0,RefCode,0,1,600,870
3380,4,1,13,1,1,313,844,288,26,4,0,9,0,RefCode,0,1,601,870
3381,4,1,13,1,1,313,1071,286,26,4,0,9,0,RefCode,0,1,599,1097
3382,4,1,14,1,1,313,1071,287,26,4,0,9,0,RefCode,0,1,600,1097

In [43]:
scaler = MinMaxScaler()
df[['left', 'top', 'width', 'height', 'CEng', 'Ctha', 'CNum', 'CSym', 'range_width', 'range_height']] = scaler.fit_transform(df[['left', 'top', 'width', 'height', 'CEng', 'Ctha', 'CNum', 'CSym', 'range_width', 'range_height']])

In [44]:
df

,level,page_num,block_num,par_num,line_num,left,top,width,height,CEng,Ctha,CNum,CSym,label,Bank_Kbank,Bank_krungsri,range_width,range_height
0,4,1,1,1,1,0.027563,0.006540,0.734250,0.151844,0.000000,0.315789,0.047619,0.3125,NotUse,1,0,0.679310,0.019104
1,4,1,1,1,1,0.028666,0.006540,0.691867,0.149675,0.000000,0.289474,0.047619,0.2500,NotUse,1,0,0.637931,0.018507
2,4,1,1,1,1,0.028666,0.008918,0.225659,0.073753,0.000000,0.289474,0.000000,0.1875,NotUse,1,0,0.170115,0.000000
3,4,1,1,1,1,0.068357,0.016647,0.911798,0.253796,0.000000,0.289474,0.000000,0.3750,NotUse,1,0,0.900000,0.057313
4,4,1,1,1,1,0.068357,0.016647,0.911798,0.253796,0.086957,0.289474,0.000000,0.2500,NotUse,1,0,0.900000,0.057313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3378,4,1,13,1,1,0.327453,0.501784,0.324170,0.054230,0.000000,0.105263,0.428571,0.0000,RefCode,0,1,0.580460,0.489552
3379,4,1,13,1,1,0.327453,0.501784,0.324170,0.054230,0.173913,0.000000,0.428571,0.0000,RefCode,0,1,0.580460,0.489552
3380,4,1,13,1,1,0.327453,0.501784,0.325315,0.054230,0.173913,0.000000,0.428571,0.0000,RefCode,0,1,0.581609,0.489552
3381,4,1,13,1,1,0.327453,0.636742,0.323024,0.054230,0.173913,0.000000,0.428571,0.0000,RefCode,0,1,0.579310,0.625075
3382,4,1,14,1,1,0.327453,0.636742,0.324170,0.054230,0.173913,0.000000,0.428571,0.0000,RefCode,0,1,0.580460,0.625075

In [45]:
DataNorX = df.drop(columns=['label'])
DataNorY = df[['label']]
modelClf = tree.DecisionTreeClassifier().fit(DataNorX, DataNorY)

array_important = []

for i,j in enumerate(dataX):
  score_f = modelClf.feature_importances_
  print(j, '= ', score_f[i])

level =  0.0
page_num =  0.0
block_num =  0.019611422021461544
par_num =  0.0
line_num =  0.00657319915638524
left =  0.0067980486838423206
top =  0.051128705847907616
width =  0.050552098608487306
height =  0.037275859929614207
CEng =  0.010717726561542334
Ctha =  0.002476170942973602
CNum =  0.4288955495985711
CSym =  0.0105189518752365
Bank_Kbank =  0.0
Bank_krungsri =  0.0005212991458891795
range_width =  0.011088320598013126
range_height =  0.36384264703007585

In [46]:
X_trainNor, X_testNor, y_trainNor, y_testNor = train_test_split(DataNorX, DataNorY, test_size=0.2, random_state=42)

parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Nor_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_trainNor, y_trainNor)
print(KNN_Nor_Model.best_params_)
print(KNN_Nor_Model.best_score_)

{'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'}
0.9316374624005019
/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [47]:
y_predNor = KNN_Nor_Model.predict(X_testNor)
print(classification_report(y_testNor,y_predNor))

              precision    recall  f1-score   support

     Account       0.83      0.67      0.74        15
      Amount       0.79      0.94      0.86        62
        Name       0.75      0.75      0.75         4
      NotUse       0.97      0.96      0.96       428
     RefCode       0.98      0.92      0.95        59
      Timing       0.99      1.00      1.00       109

    accuracy                           0.95       677
   macro avg       0.89      0.87      0.88       677
weighted avg       0.95      0.95      0.95       677

# 1:Using data with more count per-word. with BB and train all banking

---

In [48]:
df = pd.read_csv('data_more_count.csv') 
df = pd.get_dummies(data= df, columns=['Bank','level','page_num','block_num','par_num','line_num'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height
df = df.drop(columns=['word'])
print(df)

      left   top  width  height  CEng  Ctha  CNum  CSym    label  ฎ  ...  \
0       41    11    645      71     0    12     1     5   NotUse  0  ...
1       42    11    608      70     0    11     1     4   NotUse  0  ...
2       42    15    201      35     0    11     0     3   NotUse  0  ...
3       78    28    800     118     0    11     0     6   NotUse  0  ...
4       78    28    800     118     2    11     0     4   NotUse  0  ...
...    ...   ...    ...     ...   ...   ...   ...   ...      ... ..  ...
5367   313   844    288      26     4     0     9     0  RefCode  0  ...
5368   313   844    288      26     4     0     9     0  RefCode  0  ...
5369   313  1071    286      26     4     0     9     0  RefCode  0  ...
5370   313  1071    287      26     4     0     9     0  RefCode  0  ...
5371   313  1071    287      26     4     0     9     0  RefCode  0  ...

      line_num_1  line_num_2  line_num_3  line_num_4  line_num_5  line_num_6  \
0              1           0           0           0           0           0
1              1           0           0           0           0           0
2              1           0           0           0           0           0
3              1           0           0           0           0           0
4              1           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
5367           1           0           0           0           0           0
5368           1           0           0           0           0           0
5369           1           0           0           0           0           0
5370           1           0           0           0           0           0
5371           1           0           0           0           0           0

      line_num_7  line_num_8  range_width  range_height
0              0           0          686            82
1              0           0          650            81
2              0           0          243            50
3              0           0          878           146
4              0           0          878           146
...          ...         ...          ...           ...
5367           0           0          601           870
5368           0           0          601           870
5369           0           0          599          1097
5370           0           0          600          1097
5371           0           0          600          1097

[5372 rows x 149 columns]

In [49]:
dataX = df.drop(columns=['label'])
dataY = df[['label']]
modelClf = tree.DecisionTreeClassifier().fit(dataX, dataY)

array_important = []

for i,j in enumerate(dataX):
  score_f = modelClf.feature_importances_
  print(j, '= ', score_f[i])

left =  0.01134184087053008
top =  0.11480922771259167
width =  0.005761774176362613
height =  0.002179942909387429
CEng =  0.01510135036818529
Ctha =  0.0
CNum =  0.26770577100656867
CSym =  0.019557683235086717
ฎ =  0.0
พ =  0.0
ฑ =  0.0
ธ =  0.0
ร =  0.0
ณ =  0.0
น =  0.0
ย =  0.003068952253622124
ญ =  0.0
บ =  0.002393398270737634
ฐ =  0.0
ล =  0.0
ฟ =  0.0
ฤ =  0.0
ห =  0.0
ฆ =  0.0
ก =  0.0
ฏ =  0.0
ด =  0.0
ฌ =  0.0
ษ =  0.0
ส =  0.0
ศ =  0.0
ว =  0.0
ซ =  0.0
ง =  0.0
ผ =  0.0
ป =  0.0
ฉ =  0.0
อ =  0.0
ฮ =  0.0
ท =  0.0
ม =  0.0
ฒ =  0.0
ฬ =  0.0
ฝ =  0.0
ฦ =  0.0
ภ =  0.0
ถ =  0.0
ค =  0.0
ต =  0.0
จ =  0.0005094768810780725
ข =  0.0
ช =  0.0
q =  0.0
w =  0.0
e =  0.0
r =  0.002775657088800968
t =  0.0
y =  0.0
u =  0.0
i =  0.000683045066628727
o =  0.0
p =  0.0005273339869390737
a =  0.0
s =  0.0
d =  0.0
f =  0.0
g =  0.0
h =  0.0
j =  0.0
k =  0.0
l =  0.0
z =  0.0
x =  0.0
c =  0.0
v =  0.0
b =  0.0
n =  0.005271902270313699
m =  0.0
1 =  0.0011788912401770478
2 =  0.00012837791038277768
3 =  0.00020744431396503706
4 =  0.00022809230041421797
5 =  0.0009811456371836512
6 =  0.0
7 =  0.0
8 =  0.0004948283376754756
9 =  0.001963505682658138
0 =  0.041317995736589744
! =  0.0
@ =  0.0
# =  0.0
$ =  0.0
% =  0.005733015643350133
^ =  0.0
& =  0.0
* =  0.0
( =  0.0
) =  0.0
- =  0.0013928501356791163
_ =  0.0
=' =  0.0
+ =  0.0002276827836201618
{ =  0.0
} =  0.0
[ =  0.0
] =  0.0
; =  0.0
: =  4.3984741126708964e-05
< =  0.0
> =  0.0
. =  0.1844681531312404
? =  0.0
/ =  0.0
฿ =  0.0
blank =  0.0
blankSpace =  0.0
Bank_Kbank =  0.0
Bank_krungsri =  0.0
level_4 =  0.0
page_num_1 =  0.0
block_num_1 =  0.0
block_num_2 =  0.0001620490462562957
block_num_3 =  0.0
block_num_4 =  0.00042225351481640574
block_num_5 =  0.0
block_num_6 =  0.0
block_num_7 =  0.00048757174576894384
block_num_8 =  0.0004931704512791607
block_num_9 =  0.00043624346930115437
block_num_10 =  0.026931869184332012
block_num_11 =  1.5159007681453553e-05
block_num_12 =  0.0
block_num_13 =  0.0
block_num_14 =  0.0
par_num_1 =  0.0
par_num_2 =  0.0
par_num_3 =  0.0
par_num_4 =  0.0
line_num_1 =  0.0005403839624138528
line_num_2 =  0.0
line_num_3 =  0.0
line_num_4 =  0.00022597518458415355
line_num_5 =  0.0
line_num_6 =  0.0
line_num_7 =  0.0
line_num_8 =  0.0
range_width =  5.655181002005445e-05
range_height =  0.2801754489326511

In [50]:
X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2, random_state=42)

parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print('KNN',KNN_Model.best_params_)
print('KNN',KNN_Model.best_score_)

/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/joblib/externals/loky/process_executor.py:688: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(
KNN {'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'}
KNN 0.983941846928554
/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [51]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       1.00      0.75      0.86         8
      Amount       0.97      0.99      0.98       172
        Name       0.88      0.78      0.82         9
      NotUse       0.99      0.99      0.99       466
     RefCode       1.00      0.99      1.00       194
      Timing       1.00      1.00      1.00       226

    accuracy                           0.99      1075
   macro avg       0.97      0.92      0.94      1075
weighted avg       0.99      0.99      0.99      1075

_______________________________________________________________________

In [52]:
df = pd.read_csv('data_more_count.csv') 
df = pd.get_dummies(data= df, columns=['Bank','level','page_num','block_num','par_num','line_num'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height
df = df.drop(columns=['word'])

dataX = df.drop(columns=['label'])
dataY = df[['label']]

X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2, random_state=42)

In [53]:
parameters = {
    'learning_rate' : ['adaptive'],
    'hidden_layer_sizes' : [[75],[120],[149],[75,75],[120,120], [149,149]],
    'activation' : ['relu','logistic'],
    'solver': ['adam'],
    'max_iter': [200,500,1000]
}

NN_model = GridSearchCV(
    MLPClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)

print('NN',NN_model.best_params_)
print('NN',NN_model.best_score_)

/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/joblib/externals/loky/process_executor.py:688: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(
/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
NN {'activation': 'logistic', 'hidden_layer_sizes': [120], 'learning_rate': 'adaptive', 'max_iter': 500, 'solver': 'adam'}
NN 0.9916227630830875

In [54]:
y_pred = NN_model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       1.00      0.88      0.93         8
      Amount       1.00      1.00      1.00       172
        Name       0.88      0.78      0.82         9
      NotUse       1.00      0.99      0.99       466
     RefCode       0.99      1.00      0.99       194
      Timing       1.00      1.00      1.00       226

    accuracy                           0.99      1075
   macro avg       0.98      0.94      0.96      1075
weighted avg       0.99      0.99      0.99      1075

### 1.1:Using data with more count per-word. with BB : train only Kbank.

In [55]:
df = pd.read_csv('data_more_count.csv') 
 
df = pd.get_dummies(data= df, columns=['level','page_num','block_num','par_num','line_num'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height

df_test = df[df.Bank == 'krungsri'] 
df = df[df.Bank== "Kbank"] 
df = df.drop(columns=['word','Bank'])
df_test = df_test.drop(columns=['word','Bank'])

print(df)
print('\n')
print(df_test)

      left   top  width  height  CEng  Ctha  CNum  CSym   label  ฎ  ...  \
0       41    11    645      71     0    12     1     5  NotUse  0  ...
1       42    11    608      70     0    11     1     4  NotUse  0  ...
2       42    15    201      35     0    11     0     3  NotUse  0  ...
3       78    28    800     118     0    11     0     6  NotUse  0  ...
4       78    28    800     118     2    11     0     4  NotUse  0  ...
...    ...   ...    ...     ...   ...   ...   ...   ...     ... ..  ...
3732   628  1133    295      92     0     3     0     1  NotUse  0  ...
3733   781  1255     61      19     0     0     0     2  NotUse  0  ...
3734   852   975     71      91     2     0     0     0  NotUse  0  ...
3735   811   975     41     136     0     0     0     1  NotUse  0  ...
3736   923   930      4     153     0     0     0     1  NotUse  0  ...

      line_num_1  line_num_2  line_num_3  line_num_4  line_num_5  line_num_6  \
0              1           0           0           0           0           0
1              1           0           0           0           0           0
2              1           0           0           0           0           0
3              1           0           0           0           0           0
4              1           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3732           1           0           0           0           0           0
3733           1           0           0           0           0           0
3734           1           0           0           0           0           0
3735           1           0           0           0           0           0
3736           1           0           0           0           0           0

      line_num_7  line_num_8  range_width  range_height
0              0           0          686            82
1              0           0          650            81
2              0           0          243            50
3              0           0          878           146
4              0           0          878           146
...          ...         ...          ...           ...
3732           0           0          923          1225
3733           0           0          842          1274
3734           0           0          923          1066
3735           0           0          852          1111
3736           0           0          927          1083

[3737 rows x 147 columns]


      left   top  width  height  CEng  Ctha  CNum  CSym    label  ฎ  ...  \
3737    83    31     78      78     2     0     0     0   NotUse  0  ...
3738    83    31     78      78     2     0     0     0   NotUse  0  ...
3739    84    31     78      78     2     0     0     0   NotUse  0  ...
3740    84    31     78      78     2     0     0     0   NotUse  0  ...
3741    86   140    113      28     8     0     0     0   NotUse  0  ...
...    ...   ...    ...     ...   ...   ...   ...   ...      ... ..  ...
5367   313   844    288      26     4     0     9     0  RefCode  0  ...
5368   313   844    288      26     4     0     9     0  RefCode  0  ...
5369   313  1071    286      26     4     0     9     0  RefCode  0  ...
5370   313  1071    287      26     4     0     9     0  RefCode  0  ...
5371   313  1071    287      26     4     0     9     0  RefCode  0  ...

      line_num_1  line_num_2  line_num_3  line_num_4  line_num_5  line_num_6  \
3737           1           0           0           0           0           0
3738           1           0           0           0           0           0
3739           1           0           0           0           0           0
3740           1           0           0           0           0           0
3741           1           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
5367           1           0           0           0           0           0
5368           1           0           0           0           0           0
5369           1           0           0           0           0           0
5370           1           0           0           0           0           0
5371           1           0           0           0           0           0

      line_num_7  line_num_8  range_width  range_height
3737           0           0          161           109
3738           0           0          161           109
3739           0           0          162           109
3740           0           0          162           109
3741           0           0          199           168
...          ...         ...          ...           ...
5367           0           0          601           870
5368           0           0          601           870
5369           0           0          599          1097
5370           0           0          600          1097
5371           0           0          600          1097

[1635 rows x 147 columns]

In [56]:

X_train = df.drop(columns= ['label'])
y_train = df[['label']]


X_test = df_test.drop(columns= ['label'])
y_test = df_test[['label']]


parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print(KNN_Model.best_params_)
print(KNN_Model.best_score_)

/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/joblib/externals/loky/process_executor.py:688: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(
{'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'}
0.9585482750968222
/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [57]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
              precision    recall  f1-score   support

     Account       0.03      0.03      0.03        39
      Amount       0.33      0.07      0.12       290
        Name       0.00      0.00      0.00        25
      NotUse       0.39      0.95      0.56       635
     RefCode       0.00      0.00      0.00       262
      Timing       0.00      0.00      0.00       384

    accuracy                           0.38      1635
   macro avg       0.13      0.17      0.12      1635
weighted avg       0.21      0.38      0.24      1635

________________________________________________________________________________

In [58]:
df = pd.read_csv('data_more_count.csv') 
 
df = pd.get_dummies(data= df, columns=['level','page_num','block_num','par_num','line_num'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height

df_test = df[df.Bank == 'krungsri'] 
df = df[df.Bank== "Kbank"] 
df = df.drop(columns=['word','Bank'])
df_test = df_test.drop(columns=['word','Bank'])

X_train = df.drop(columns= ['label'])
y_train = df[['label']]


X_test = df_test.drop(columns= ['label'])
y_test = df_test[['label']]

      left   top  width  height  CEng  Ctha  CNum  CSym   label  ฎ  ...  \
0       41    11    645      71     0    12     1     5  NotUse  0  ...
1       42    11    608      70     0    11     1     4  NotUse  0  ...
2       42    15    201      35     0    11     0     3  NotUse  0  ...
3       78    28    800     118     0    11     0     6  NotUse  0  ...
4       78    28    800     118     2    11     0     4  NotUse  0  ...
...    ...   ...    ...     ...   ...   ...   ...   ...     ... ..  ...
3732   628  1133    295      92     0     3     0     1  NotUse  0  ...
3733   781  1255     61      19     0     0     0     2  NotUse  0  ...
3734   852   975     71      91     2     0     0     0  NotUse  0  ...
3735   811   975     41     136     0     0     0     1  NotUse  0  ...
3736   923   930      4     153     0     0     0     1  NotUse  0  ...

      line_num_1  line_num_2  line_num_3  line_num_4  line_num_5  line_num_6  \
0              1           0           0           0           0           0
1              1           0           0           0           0           0
2              1           0           0           0           0           0
3              1           0           0           0           0           0
4              1           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3732           1           0           0           0           0           0
3733           1           0           0           0           0           0
3734           1           0           0           0           0           0
3735           1           0           0           0           0           0
3736           1           0           0           0           0           0

      line_num_7  line_num_8  range_width  range_height
0              0           0          686            82
1              0           0          650            81
2              0           0          243            50
3              0           0          878           146
4              0           0          878           146
...          ...         ...          ...           ...
3732           0           0          923          1225
3733           0           0          842          1274
3734           0           0          923          1066
3735           0           0          852          1111
3736           0           0          927          1083

[3737 rows x 147 columns]


      left   top  width  height  CEng  Ctha  CNum  CSym    label  ฎ  ...  \
3737    83    31     78      78     2     0     0     0   NotUse  0  ...
3738    83    31     78      78     2     0     0     0   NotUse  0  ...
3739    84    31     78      78     2     0     0     0   NotUse  0  ...
3740    84    31     78      78     2     0     0     0   NotUse  0  ...
3741    86   140    113      28     8     0     0     0   NotUse  0  ...
...    ...   ...    ...     ...   ...   ...   ...   ...      ... ..  ...
5367   313   844    288      26     4     0     9     0  RefCode  0  ...
5368   313   844    288      26     4     0     9     0  RefCode  0  ...
5369   313  1071    286      26     4     0     9     0  RefCode  0  ...
5370   313  1071    287      26     4     0     9     0  RefCode  0  ...
5371   313  1071    287      26     4     0     9     0  RefCode  0  ...

      line_num_1  line_num_2  line_num_3  line_num_4  line_num_5  line_num_6  \
3737           1           0           0           0           0           0
3738           1           0           0           0           0           0
3739           1           0           0           0           0           0
3740           1           0           0           0           0           0
3741           1           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
5367           1           0           0           0           0           0
5368           1           0           0           0           0           0
5369           1           0           0           0           0           0
5370           1           0           0           0           0           0
5371           1           0           0           0           0           0

      line_num_7  line_num_8  range_width  range_height
3737           0           0          161           109
3738           0           0          161           109
3739           0           0          162           109
3740           0           0          162           109
3741           0           0          199           168
...          ...         ...          ...           ...
5367           0           0          601           870
5368           0           0          601           870
5369           0           0          599          1097
5370           0           0          600          1097
5371           0           0          600          1097

[1635 rows x 147 columns]

In [59]:
parameters = {
    'learning_rate' : ['adaptive',],
    'hidden_layer_sizes' : [[75],[120],[149],[75,75],[120,120], [149,149]],
    'activation' : ['relu','logistic'],
    'solver': ['adam'],
    'max_iter': [200,500,1000]
}

NN_model = GridSearchCV(
    MLPClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)

print('NN',NN_model.best_params_)
print('NN',NN_model.best_score_)

/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/joblib/externals/loky/process_executor.py:688: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(
/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
NN {'activation': 'logistic', 'hidden_layer_sizes': [75], 'learning_rate': 'adaptive', 'max_iter': 200, 'solver': 'adam'}
NN 0.9663033596059819
/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [60]:
y_pred = NN_model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       0.00      0.00      0.00        39
      Amount       0.82      0.05      0.09       290
        Name       0.00      0.00      0.00        25
      NotUse       0.47      1.00      0.64       635
     RefCode       0.00      0.00      0.00       262
      Timing       0.00      0.00      0.00       384

    accuracy                           0.40      1635
   macro avg       0.22      0.17      0.12      1635
weighted avg       0.33      0.40      0.27      1635

/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# 2:Using data with more count per-word. without BB and train all banking

In [61]:
df = pd.read_csv('data_more_count.csv') 
df = pd.get_dummies(data= df, columns=['Bank','level','page_num','block_num','par_num','line_num'])
df = df.drop(columns=['word','left','top','width','height'])
print(df)

      CEng  Ctha  CNum  CSym    label  ฎ  พ  ฑ  ธ  ร  ...  par_num_3  \
0        0    12     1     5   NotUse  0  0  0  0  1  ...          0
1        0    11     1     4   NotUse  0  0  0  0  1  ...          0
2        0    11     0     3   NotUse  0  0  0  0  1  ...          0
3        0    11     0     6   NotUse  0  0  0  0  1  ...          0
4        2    11     0     4   NotUse  0  0  0  0  1  ...          0
...    ...   ...   ...   ...      ... .. .. .. .. ..  ...        ...
5367     4     0     9     0  RefCode  0  0  0  0  0  ...          0
5368     4     0     9     0  RefCode  0  0  0  0  0  ...          0
5369     4     0     9     0  RefCode  0  0  0  0  0  ...          0
5370     4     0     9     0  RefCode  0  0  0  0  0  ...          0
5371     4     0     9     0  RefCode  0  0  0  0  0  ...          0

      par_num_4  line_num_1  line_num_2  line_num_3  line_num_4  line_num_5  \
0             0           1           0           0           0           0
1             0           1           0           0           0           0
2             0           1           0           0           0           0
3             0           1           0           0           0           0
4             0           1           0           0           0           0
...         ...         ...         ...         ...         ...         ...
5367          0           1           0           0           0           0
5368          0           1           0           0           0           0
5369          0           1           0           0           0           0
5370          0           1           0           0           0           0
5371          0           1           0           0           0           0

      line_num_6  line_num_7  line_num_8
0              0           0           0
1              0           0           0
2              0           0           0
3              0           0           0
4              0           0           0
...          ...         ...         ...
5367           0           0           0
5368           0           0           0
5369           0           0           0
5370           0           0           0
5371           0           0           0

[5372 rows x 143 columns]

In [62]:
dataX = df.drop(columns=['label'])
dataY = df[['label']]
modelClf = tree.DecisionTreeClassifier().fit(dataX, dataY)

array_important = []

for i,j in enumerate(dataX):
  score_f = modelClf.feature_importances_
  print(j, '= ', score_f[i])

CEng =  0.013434321070679319
Ctha =  0.0013541955619386708
CNum =  0.4218852099293518
CSym =  0.031220203620254947
ฎ =  0.0
พ =  2.503712890993208e-06
ฑ =  0.0
ธ =  0.0007149203917660643
ร =  0.0
ณ =  0.0
น =  0.0006430338461695696
ย =  0.0
ญ =  0.0
บ =  0.000529135747790797
ฐ =  0.0
ล =  0.0
ฟ =  0.0010428935076978458
ฤ =  0.0
ห =  0.0
ฆ =  0.0
ก =  0.0
ฏ =  0.0
ด =  0.0
ฌ =  0.0
ษ =  0.0
ส =  0.0
ศ =  0.0
ว =  0.0
ซ =  0.0
ง =  0.0
ผ =  0.0
ป =  0.0
ฉ =  0.0
อ =  0.0
ฮ =  0.0
ท =  0.006229922853497518
ม =  0.0
ฒ =  0.0
ฬ =  0.0
ฝ =  0.0
ฦ =  0.0
ภ =  0.0
ถ =  0.0
ค =  8.949441823101083e-06
ต =  0.0
จ =  9.406857738503046e-05
ข =  0.0
ช =  0.0
q =  0.0
w =  0.0
e =  0.0
r =  0.0
t =  0.0
y =  0.0
u =  0.00045354492667782606
i =  0.0
o =  0.0
p =  0.0
a =  0.0
s =  0.0
d =  0.0
f =  0.0
g =  0.0
h =  0.0
j =  0.0
k =  0.0
l =  0.0
z =  0.0
x =  0.00040819043401004346
c =  0.0
v =  0.0
b =  0.0
n =  0.0011841383578238798
m =  0.0
1 =  0.005347773651761788
2 =  0.0025065900665293705
3 =  0.0005996526982132265
4 =  0.002626857035034882
5 =  0.000985433525945128
6 =  0.0018542409592554308
7 =  8.818929129846615e-05
8 =  0.00047268551973395865
9 =  0.0019000975115775634
0 =  0.040788379550892796
! =  0.0
@ =  0.0
# =  0.0
$ =  0.0
% =  0.005804033825804912
^ =  0.0
& =  0.0
* =  0.0
( =  0.0
) =  0.0
- =  0.0020566717145657177
_ =  0.0
=' =  0.0
+ =  0.000770374353897684
{ =  0.0
} =  0.0
[ =  0.003345064083846068
] =  0.0
; =  0.0
: =  0.24302680738688406
< =  0.0
> =  0.0
. =  0.1902236772711852
? =  0.0
/ =  0.0
฿ =  0.0
blank =  0.0
blankSpace =  0.0
Bank_Kbank =  0.0011284220682053739
Bank_krungsri =  0.0018801639729820131
level_4 =  0.0
page_num_1 =  0.0
block_num_1 =  0.0010097584412202462
block_num_2 =  0.0011195193839885007
block_num_3 =  0.001932556313838852
block_num_4 =  0.00017015345615233428
block_num_5 =  0.0004850411021415639
block_num_6 =  0.0016006356370671605
block_num_7 =  0.00010927803486983862
block_num_8 =  0.0003918846274399234
block_num_9 =  0.000701505726237799
block_num_10 =  0.00010491043773732951
block_num_11 =  1.361564535500037e-05
block_num_12 =  0.0
block_num_13 =  0.0
block_num_14 =  0.0
par_num_1 =  0.0036917192585284417
par_num_2 =  8.818929129846615e-05
par_num_3 =  0.0
par_num_4 =  0.0
line_num_1 =  0.0027874497057231843
line_num_2 =  8.81892912984662e-05
line_num_3 =  0.0
line_num_4 =  0.0006142146817402042
line_num_5 =  0.0004810324979916336
line_num_6 =  0.0
line_num_7 =  0.0
line_num_8 =  0.0

In [63]:
X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2, random_state=42)

parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print(KNN_Model.best_params_)
print(KNN_Model.best_score_)

/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/joblib/externals/loky/process_executor.py:688: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(
{'algorithm': 'brute', 'n_neighbors': 3, 'weights': 'uniform'}
0.9739356201099169
/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [64]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       0.64      0.88      0.74         8
      Amount       1.00      1.00      1.00       172
        Name       0.62      0.56      0.59         9
      NotUse       0.99      0.97      0.98       466
     RefCode       0.96      0.99      0.97       194
      Timing       0.99      1.00      1.00       226

    accuracy                           0.98      1075
   macro avg       0.87      0.90      0.88      1075
weighted avg       0.98      0.98      0.98      1075

--MLP--

In [68]:
df = pd.read_csv('data_more_count.csv') 
df = pd.get_dummies(data= df, columns=['Bank','level','page_num','block_num','par_num','line_num'])
df = df.drop(columns=['word','left','top','width','height'])

dataX = df.drop(columns=['label'])
dataY = df[['label']]

X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2, random_state=42)

In [69]:
parameters = {
    'learning_rate' : ['adaptive',],
    'hidden_layer_sizes' : [[75],[120],[149],[75,75],[120,120], [149,149]],
    'activation' : ['relu','logistic'],
    'solver': ['adam'],
    'max_iter': [200,500,1000]
}

NN_model = GridSearchCV(
    MLPClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)

print('NN',NN_model.best_params_)
print('NN',NN_model.best_score_)

/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
NN {'activation': 'relu', 'hidden_layer_sizes': [149], 'learning_rate': 'adaptive', 'max_iter': 200, 'solver': 'adam'}
NN 0.9781249153964859

In [70]:
y_pred = NN_model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       0.83      0.62      0.71         8
      Amount       0.99      0.99      0.99       172
        Name       0.80      0.89      0.84         9
      NotUse       0.98      0.98      0.98       466
     RefCode       0.98      0.98      0.98       194
      Timing       1.00      1.00      1.00       226

    accuracy                           0.99      1075
   macro avg       0.93      0.91      0.92      1075
weighted avg       0.99      0.99      0.98      1075

## 2.1 Using data with more count per-word. without BB and train only kbank.

In [65]:
df = pd.read_csv('data_more_count.csv') 
df = df.drop(columns=['word','left','top','width','height'])

df = pd.get_dummies(data= df, columns=['level','page_num','block_num','par_num','line_num'])

df_test = df[df.Bank == 'krungsri'] 
df = df[df.Bank== "Kbank"] 
df = df.drop(columns=['Bank'])
df_test = df_test.drop(columns=['Bank'])

print(df)
print('\n')
print(df_test)

      CEng  Ctha  CNum  CSym   label  ฎ  พ  ฑ  ธ  ร  ...  par_num_3  \
0        0    12     1     5  NotUse  0  0  0  0  1  ...          0
1        0    11     1     4  NotUse  0  0  0  0  1  ...          0
2        0    11     0     3  NotUse  0  0  0  0  1  ...          0
3        0    11     0     6  NotUse  0  0  0  0  1  ...          0
4        2    11     0     4  NotUse  0  0  0  0  1  ...          0
...    ...   ...   ...   ...     ... .. .. .. .. ..  ...        ...
3732     0     3     0     1  NotUse  0  0  0  0  0  ...          0
3733     0     0     0     2  NotUse  0  0  0  0  0  ...          0
3734     2     0     0     0  NotUse  0  0  0  0  0  ...          0
3735     0     0     0     1  NotUse  0  0  0  0  0  ...          0
3736     0     0     0     1  NotUse  0  0  0  0  0  ...          0

      par_num_4  line_num_1  line_num_2  line_num_3  line_num_4  line_num_5  \
0             0           1           0           0           0           0
1             0           1           0           0           0           0
2             0           1           0           0           0           0
3             0           1           0           0           0           0
4             0           1           0           0           0           0
...         ...         ...         ...         ...         ...         ...
3732          0           1           0           0           0           0
3733          0           1           0           0           0           0
3734          0           1           0           0           0           0
3735          0           1           0           0           0           0
3736          0           1           0           0           0           0

      line_num_6  line_num_7  line_num_8
0              0           0           0
1              0           0           0
2              0           0           0
3              0           0           0
4              0           0           0
...          ...         ...         ...
3732           0           0           0
3733           0           0           0
3734           0           0           0
3735           0           0           0
3736           0           0           0

[3737 rows x 141 columns]


      CEng  Ctha  CNum  CSym    label  ฎ  พ  ฑ  ธ  ร  ...  par_num_3  \
3737     2     0     0     0   NotUse  0  0  0  0  0  ...          0
3738     2     0     0     0   NotUse  0  0  0  0  0  ...          0
3739     2     0     0     0   NotUse  0  0  0  0  0  ...          0
3740     2     0     0     0   NotUse  0  0  0  0  0  ...          0
3741     8     0     0     0   NotUse  0  0  0  0  0  ...          0
...    ...   ...   ...   ...      ... .. .. .. .. ..  ...        ...
5367     4     0     9     0  RefCode  0  0  0  0  0  ...          0
5368     4     0     9     0  RefCode  0  0  0  0  0  ...          0
5369     4     0     9     0  RefCode  0  0  0  0  0  ...          0
5370     4     0     9     0  RefCode  0  0  0  0  0  ...          0
5371     4     0     9     0  RefCode  0  0  0  0  0  ...          0

      par_num_4  line_num_1  line_num_2  line_num_3  line_num_4  line_num_5  \
3737          0           1           0           0           0           0
3738          0           1           0           0           0           0
3739          0           1           0           0           0           0
3740          0           1           0           0           0           0
3741          0           1           0           0           0           0
...         ...         ...         ...         ...         ...         ...
5367          0           1           0           0           0           0
5368          0           1           0           0           0           0
5369          0           1           0           0           0           0
5370          0           1           0           0           0           0
5371          0           1           0           0           0           0

      line_num_6  line_num_7  line_num_8
3737           0           0           0
3738           0           0           0
3739           0           0           0
3740           0           0           0
3741           0           0           0
...          ...         ...         ...
5367           0           0           0
5368           0           0           0
5369           0           0           0
5370           0           0           0
5371           0           0           0

[1635 rows x 141 columns]

In [66]:

X_train = df.drop(columns= ['label'])
y_train = df[['label']]


X_test = df_test.drop(columns= ['label'])
y_test = df_test[['label']]


parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print(KNN_Model.best_params_)
print(KNN_Model.best_score_)

/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/joblib/externals/loky/process_executor.py:688: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(
{'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'}
0.9810027990750882
/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [67]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       0.00      0.00      0.00        39
      Amount       0.94      0.43      0.59       290
        Name       0.00      0.00      0.00        25
      NotUse       0.55      0.94      0.70       635
     RefCode       0.00      0.00      0.00       262
      Timing       0.98      0.99      0.99       384

    accuracy                           0.68      1635
   macro avg       0.41      0.39      0.38      1635
weighted avg       0.61      0.68      0.61      1635

_______________________MLP____________________________

In [71]:
df = pd.read_csv('data_more_count.csv') 
df = df.drop(columns=['word','left','top','width','height'])

df = pd.get_dummies(data= df, columns=['level','page_num','block_num','par_num','line_num'])

df_test = df[df.Bank == 'krungsri'] 
df = df[df.Bank== "Kbank"] 
df = df.drop(columns=['Bank'])
df_test = df_test.drop(columns=['Bank'])



X_train = df.drop(columns= ['label'])
y_train = df[['label']]


X_test = df_test.drop(columns= ['label'])
y_test = df_test[['label']]

In [72]:
parameters = {
    'learning_rate' : ['adaptive',],
    'hidden_layer_sizes' : [[75],[120],[149],[75,75],[120,120], [149,149]],
    'activation' : ['relu','logistic'],
    'solver': ['adam'],
    'max_iter': [200,500,1000]
}

NN_model = GridSearchCV(
    MLPClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)

print('NN',NN_model.best_params_)
print('NN',NN_model.best_score_)

/Users/pcsishun/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
NN {'activation': 'relu', 'hidden_layer_sizes': [120], 'learning_rate': 'adaptive', 'max_iter': 500, 'solver': 'adam'}
NN 0.9526555419539118

In [73]:
y_pred = NN_model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       0.00      0.00      0.00        39
      Amount       0.00      0.00      0.00       290
        Name       0.00      0.00      0.00        25
      NotUse       0.49      0.97      0.65       635
     RefCode       0.00      0.00      0.00       262
      Timing       1.00      0.91      0.95       384

    accuracy                           0.59      1635
   macro avg       0.25      0.31      0.27      1635
weighted avg       0.42      0.59      0.48      1635