In [4]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import classification_report

In [ ]:
# df = pd.read_csv('TrainingData.csv')
df = pd.read_csv('TrainData_withoutWord.csv')
# df = df.drop(columns=['word'])
df = pd.get_dummies(data= df, columns=['Bank'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height
groupLabel = {'Account':'red', 'Amount':'blue', 'Name':'orange', 'NotUse':'gray', 'RefCode':'brown', 'Timing':'pink'}
df

      level  page_num  block_num  ...  Bank_krungsri  range_width  range_height
0         4         1          1  ...              0          686            82
1         4         1          1  ...              0          650            81
2         4         1          1  ...              0          243            50
3         4         1          1  ...              0          878           146
4         4         1          1  ...              0          878           146
...     ...       ...        ...  ...            ...          ...           ...
3378      4         1         13  ...              1          600           870
3379      4         1         13  ...              1          600           870
3380      4         1         13  ...              1          601           870
3381      4         1         13  ...              1          599          1097
3382      4         1         14  ...              1          600          1097

[3383 rows x 18 columns]

feature important

In [ ]:
dataX = df.drop(columns=['label'])
dataY = df[['label']]
modelClf = tree.DecisionTreeClassifier().fit(dataX, dataY)

In [ ]:
array_important = []

for i,j in enumerate(dataX):
  score_f = modelClf.feature_importances_
  print(j, '= ', score_f[i])

level =  0.0
page_num =  0.0
block_num =  0.02118773134355502
par_num =  0.0
line_num =  0.006399432774422181
left =  0.010401926530344616
top =  0.04242137015242437
width =  0.057730679781097874
height =  0.03642353292029306
CEng =  0.01020220535306122
Ctha =  0.004040068380641141
CNum =  0.43077235841476424
CSym =  0.009120109163986923
Bank_Kbank =  0.0
Bank_krungsri =  0.0004277326325244548
range_width =  0.010093113137679242
range_height =  0.36077973941520575

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2, random_state=42)

parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print(KNN_Model.best_params_)
print(KNN_Model.best_score_)

{'algorithm': 'brute', 'n_neighbors': 3, 'weights': 'distance'}
0.9715457912434948

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [ ]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       1.00      1.00      1.00        15
      Amount       0.91      0.97      0.94        62
        Name       1.00      0.75      0.86         4
      NotUse       0.99      0.98      0.98       428
     RefCode       0.98      0.98      0.98        59
      Timing       0.98      1.00      0.99       109

    accuracy                           0.98       677
   macro avg       0.98      0.95      0.96       677
weighted avg       0.98      0.98      0.98       677

Using Normalize

In [24]:
# df = pd.read_csv('TrainingData.csv')
df = pd.read_csv('TrainData_withoutWord.csv')
# df = df.drop(columns=['word'])
df = pd.get_dummies(data= df, columns=['Bank'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height
df

      level  page_num  block_num  ...  Bank_krungsri  range_width  range_height
0         4         1          1  ...              0          686            82
1         4         1          1  ...              0          650            81
2         4         1          1  ...              0          243            50
3         4         1          1  ...              0          878           146
4         4         1          1  ...              0          878           146
...     ...       ...        ...  ...            ...          ...           ...
3378      4         1         13  ...              1          600           870
3379      4         1         13  ...              1          600           870
3380      4         1         13  ...              1          601           870
3381      4         1         13  ...              1          599          1097
3382      4         1         14  ...              1          600          1097

[3383 rows x 18 columns]

In [25]:
scaler = MinMaxScaler()
df[['left', 'top', 'width', 'height', 'CEng', 'Ctha', 'CNum', 'CSym', 'range_width', 'range_height']] = scaler.fit_transform(df[['left', 'top', 'width', 'height', 'CEng', 'Ctha', 'CNum', 'CSym', 'range_width', 'range_height']])

In [26]:
df

      level  page_num  block_num  ...  Bank_krungsri  range_width  range_height
0         4         1          1  ...              0     0.679310      0.019104
1         4         1          1  ...              0     0.637931      0.018507
2         4         1          1  ...              0     0.170115      0.000000
3         4         1          1  ...              0     0.900000      0.057313
4         4         1          1  ...              0     0.900000      0.057313
...     ...       ...        ...  ...            ...          ...           ...
3378      4         1         13  ...              1     0.580460      0.489552
3379      4         1         13  ...              1     0.580460      0.489552
3380      4         1         13  ...              1     0.581609      0.489552
3381      4         1         13  ...              1     0.579310      0.625075
3382      4         1         14  ...              1     0.580460      0.625075

[3383 rows x 18 columns]

In [27]:
DataNorX = df.drop(columns=['label'])
DataNorY = df[['label']]
modelClf = tree.DecisionTreeClassifier().fit(DataNorX, DataNorY)

array_important = []

for i,j in enumerate(dataX):
  score_f = modelClf.feature_importances_
  print(j, '= ', score_f[i])

level =  0.0
page_num =  0.0
block_num =  0.01978518840342461
par_num =  0.0
line_num =  0.0076157974481636005
left =  0.006482884167536773
top =  0.27810517874480056
width =  0.05548089245690409
height =  0.03538848968860005
CEng =  0.01020220535306122
Ctha =  0.0
CNum =  0.4311417406532408
CSym =  0.010765258826177786
Bank_Kbank =  0.0
Bank_krungsri =  0.0
range_width =  0.009716690015201585
range_height =  0.13531567424288904

In [28]:
X_trainNor, X_testNor, y_trainNor, y_testNor = train_test_split(DataNorX, DataNorY, test_size=0.2, random_state=42)

parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Nor_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_trainNor, y_trainNor)
print(KNN_Nor_Model.best_params_)
print(KNN_Nor_Model.best_score_)

{'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'}
0.9316374624005019

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [30]:
y_predNor = KNN_Nor_Model.predict(X_testNor)
print(classification_report(y_testNor,y_predNor))

              precision    recall  f1-score   support

     Account       0.83      0.67      0.74        15
      Amount       0.79      0.94      0.86        62
        Name       0.75      0.75      0.75         4
      NotUse       0.97      0.96      0.96       428
     RefCode       0.98      0.92      0.95        59
      Timing       0.99      1.00      1.00       109

    accuracy                           0.95       677
   macro avg       0.89      0.87      0.88       677
weighted avg       0.95      0.95      0.95       677