In [46]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import classification_report

In [ ]:
# df = pd.read_csv('TrainingData.csv')
df = pd.read_csv('TrainData_withoutWord.csv')
# df = df.drop(columns=['word'])
df = pd.get_dummies(data= df, columns=['Bank'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height
groupLabel = {'Account':'red', 'Amount':'blue', 'Name':'orange', 'NotUse':'gray', 'RefCode':'brown', 'Timing':'pink'}
df

      level  page_num  block_num  ...  Bank_krungsri  range_width  range_height
0         4         1          1  ...              0          686            82
1         4         1          1  ...              0          650            81
2         4         1          1  ...              0          243            50
3         4         1          1  ...              0          878           146
4         4         1          1  ...              0          878           146
...     ...       ...        ...  ...            ...          ...           ...
3378      4         1         13  ...              1          600           870
3379      4         1         13  ...              1          600           870
3380      4         1         13  ...              1          601           870
3381      4         1         13  ...              1          599          1097
3382      4         1         14  ...              1          600          1097

[3383 rows x 18 columns]

feature important

In [ ]:
dataX = df.drop(columns=['label'])
dataY = df[['label']]
modelClf = tree.DecisionTreeClassifier().fit(dataX, dataY)

In [ ]:
array_important = []

for i,j in enumerate(dataX):
  score_f = modelClf.feature_importances_
  print(j, '= ', score_f[i])

level =  0.0
page_num =  0.0
block_num =  0.02118773134355502
par_num =  0.0
line_num =  0.006399432774422181
left =  0.010401926530344616
top =  0.04242137015242437
width =  0.057730679781097874
height =  0.03642353292029306
CEng =  0.01020220535306122
Ctha =  0.004040068380641141
CNum =  0.43077235841476424
CSym =  0.009120109163986923
Bank_Kbank =  0.0
Bank_krungsri =  0.0004277326325244548
range_width =  0.010093113137679242
range_height =  0.36077973941520575

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2, random_state=42)

parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print(KNN_Model.best_params_)
print(KNN_Model.best_score_)

{'algorithm': 'brute', 'n_neighbors': 3, 'weights': 'distance'}
0.9715457912434948

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [ ]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       1.00      1.00      1.00        15
      Amount       0.91      0.97      0.94        62
        Name       1.00      0.75      0.86         4
      NotUse       0.99      0.98      0.98       428
     RefCode       0.98      0.98      0.98        59
      Timing       0.98      1.00      0.99       109

    accuracy                           0.98       677
   macro avg       0.98      0.95      0.96       677
weighted avg       0.98      0.98      0.98       677

Using Normalize

In [ ]:
# df = pd.read_csv('TrainingData.csv')
df = pd.read_csv('TrainData_withoutWord.csv')
# df = df.drop(columns=['word'])
df = pd.get_dummies(data= df, columns=['Bank'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height
df

      level  page_num  block_num  ...  Bank_krungsri  range_width  range_height
0         4         1          1  ...              0          686            82
1         4         1          1  ...              0          650            81
2         4         1          1  ...              0          243            50
3         4         1          1  ...              0          878           146
4         4         1          1  ...              0          878           146
...     ...       ...        ...  ...            ...          ...           ...
3378      4         1         13  ...              1          600           870
3379      4         1         13  ...              1          600           870
3380      4         1         13  ...              1          601           870
3381      4         1         13  ...              1          599          1097
3382      4         1         14  ...              1          600          1097

[3383 rows x 18 columns]

In [ ]:
scaler = MinMaxScaler()
df[['left', 'top', 'width', 'height', 'CEng', 'Ctha', 'CNum', 'CSym', 'range_width', 'range_height']] = scaler.fit_transform(df[['left', 'top', 'width', 'height', 'CEng', 'Ctha', 'CNum', 'CSym', 'range_width', 'range_height']])

In [ ]:
df

      level  page_num  block_num  ...  Bank_krungsri  range_width  range_height
0         4         1          1  ...              0     0.679310      0.019104
1         4         1          1  ...              0     0.637931      0.018507
2         4         1          1  ...              0     0.170115      0.000000
3         4         1          1  ...              0     0.900000      0.057313
4         4         1          1  ...              0     0.900000      0.057313
...     ...       ...        ...  ...            ...          ...           ...
3378      4         1         13  ...              1     0.580460      0.489552
3379      4         1         13  ...              1     0.580460      0.489552
3380      4         1         13  ...              1     0.581609      0.489552
3381      4         1         13  ...              1     0.579310      0.625075
3382      4         1         14  ...              1     0.580460      0.625075

[3383 rows x 18 columns]

In [ ]:
DataNorX = df.drop(columns=['label'])
DataNorY = df[['label']]
modelClf = tree.DecisionTreeClassifier().fit(DataNorX, DataNorY)

array_important = []

for i,j in enumerate(dataX):
  score_f = modelClf.feature_importances_
  print(j, '= ', score_f[i])

level =  0.0
page_num =  0.0
block_num =  0.01978518840342461
par_num =  0.0
line_num =  0.0076157974481636005
left =  0.006482884167536773
top =  0.27810517874480056
width =  0.05548089245690409
height =  0.03538848968860005
CEng =  0.01020220535306122
Ctha =  0.0
CNum =  0.4311417406532408
CSym =  0.010765258826177786
Bank_Kbank =  0.0
Bank_krungsri =  0.0
range_width =  0.009716690015201585
range_height =  0.13531567424288904

In [ ]:
X_trainNor, X_testNor, y_trainNor, y_testNor = train_test_split(DataNorX, DataNorY, test_size=0.2, random_state=42)

parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Nor_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_trainNor, y_trainNor)
print(KNN_Nor_Model.best_params_)
print(KNN_Nor_Model.best_score_)

{'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'}
0.9316374624005019

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [ ]:
y_predNor = KNN_Nor_Model.predict(X_testNor)
print(classification_report(y_testNor,y_predNor))

              precision    recall  f1-score   support

     Account       0.83      0.67      0.74        15
      Amount       0.79      0.94      0.86        62
        Name       0.75      0.75      0.75         4
      NotUse       0.97      0.96      0.96       428
     RefCode       0.98      0.92      0.95        59
      Timing       0.99      1.00      1.00       109

    accuracy                           0.95       677
   macro avg       0.89      0.87      0.88       677
weighted avg       0.95      0.95      0.95       677

# 1:Using data with more count per-word. with BB and train all banking

---

In [41]:
df = pd.read_csv('data_more_count.csv') 
df = pd.get_dummies(data= df, columns=['Bank','level','page_num','block_num','par_num','line_num'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height
df = df.drop(columns=['word'])
print(df)

      left   top  width  ...  line_num_8  range_width  range_height
0       41    11    645  ...           0          686            82
1       42    11    608  ...           0          650            81
2       42    15    201  ...           0          243            50
3       78    28    800  ...           0          878           146
4       78    28    800  ...           0          878           146
...    ...   ...    ...  ...         ...          ...           ...
5367   313   844    288  ...           0          601           870
5368   313   844    288  ...           0          601           870
5369   313  1071    286  ...           0          599          1097
5370   313  1071    287  ...           0          600          1097
5371   313  1071    287  ...           0          600          1097

[5372 rows x 149 columns]

In [42]:
dataX = df.drop(columns=['label'])
dataY = df[['label']]
modelClf = tree.DecisionTreeClassifier().fit(dataX, dataY)

array_important = []

for i,j in enumerate(dataX):
  score_f = modelClf.feature_importances_
  print(j, '= ', score_f[i])

left =  0.004114346014343732
top =  0.11555110087355142
width =  0.004809417394668812
height =  0.0
CEng =  0.01510135036818529
Ctha =  0.0
CNum =  0.2703802732109742
CSym =  0.01990956116410039
ฎ =  0.0
พ =  0.0
ฑ =  0.0
ธ =  0.0005165336546867715
ร =  0.0
ณ =  0.0
น =  0.0
ย =  0.003068952253622124
ญ =  0.0
บ =  0.00046183978183044394
ฐ =  0.0
ล =  0.0
ฟ =  0.0
ฤ =  0.0
ห =  0.0
ฆ =  0.0
ก =  0.0
ฏ =  0.0
ด =  0.0
ฌ =  0.0
ษ =  0.0
ส =  0.0
ศ =  0.0
ว =  0.0
ซ =  0.0
ง =  0.0
ผ =  0.0
ป =  0.0
ฉ =  0.0
อ =  0.0
ฮ =  0.0
ท =  0.0
ม =  0.0
ฒ =  0.0
ฬ =  0.0
ฝ =  0.0
ฦ =  0.0
ภ =  0.0
ถ =  0.0
ค =  0.0
ต =  0.0
จ =  0.0005094768810780725
ข =  0.0
ช =  0.0
q =  0.0
w =  0.0
e =  0.0
r =  0.0
t =  0.0
y =  0.0
u =  0.0
i =  0.000683045066628727
o =  0.0
p =  0.00052636993943092
a =  0.0
s =  0.0
d =  0.0
f =  0.0
g =  0.0
h =  0.0
j =  0.0
k =  0.0
l =  0.0
z =  0.0
x =  0.0
c =  0.0
v =  0.0
b =  0.0
n =  0.005271902270313699
m =  0.0
1 =  0.0010205461721208954
2 =  0.00039228635714303134
3 =  0.00020744431396503706
4 =  0.00022809230041421797
5 =  0.0010213602576423567
6 =  0.0
7 =  0.0
8 =  0.0006531734057316277
9 =  0.001963505682658138
0 =  0.041317995736589744
! =  0.0
@ =  0.0
# =  0.0
$ =  0.0
% =  0.005733015643350133
^ =  0.0
& =  0.0
* =  0.0
( =  0.0
) =  0.0
- =  0.0009236795636608879
_ =  0.0
=' =  0.0
+ =  0.0002276827836201618
{ =  0.0
} =  0.0
[ =  0.0
] =  0.0
; =  0.0
: =  4.3984741126708964e-05
< =  0.0
> =  0.0
. =  0.1841162752022267
? =  0.0
/ =  0.0
฿ =  0.0
blank =  0.0
blankSpace =  0.0
Bank_Kbank =  0.0
Bank_krungsri =  0.0
level_4 =  0.0
page_num_1 =  0.0
block_num_1 =  0.0
block_num_2 =  0.0001620490462562957
block_num_3 =  0.0
block_num_4 =  0.0
block_num_5 =  0.0004901156868404713
block_num_6 =  0.0
block_num_7 =  0.00048757174576894384
block_num_8 =  0.0004931704512791607
block_num_9 =  0.0009054140413193831
block_num_10 =  0.026931869184332012
block_num_11 =  1.5159007681453553e-05
block_num_12 =  0.0
block_num_13 =  0.0
block_num_14 =  0.0
par_num_1 =  0.0
par_num_2 =  8.796948225341787e-05
par_num_3 =  0.0
par_num_4 =  0.0
line_num_1 =  0.00045241448016043495
line_num_2 =  0.0
line_num_3 =  0.0
line_num_4 =  0.00022597518458415355
line_num_5 =  0.0
line_num_6 =  0.0
line_num_7 =  0.0
line_num_8 =  0.0
range_width =  0.00872923246577085
range_height =  0.2822658481900892

In [43]:
X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2, random_state=42)

parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print('KNN',KNN_Model.best_params_)
print('KNN',KNN_Model.best_score_)

KNN {'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'}
KNN 0.983941846928554

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [44]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       1.00      0.75      0.86         8
      Amount       0.97      0.99      0.98       172
        Name       0.88      0.78      0.82         9
      NotUse       0.99      0.99      0.99       466
     RefCode       1.00      0.99      1.00       194
      Timing       1.00      1.00      1.00       226

    accuracy                           0.99      1075
   macro avg       0.97      0.92      0.94      1075
weighted avg       0.99      0.99      0.99      1075

_______________________________________________________________________

In [47]:
df = pd.read_csv('data_more_count.csv') 
df = pd.get_dummies(data= df, columns=['Bank','level','page_num','block_num','par_num','line_num'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height
df = df.drop(columns=['word'])

dataX = df.drop(columns=['label'])
dataY = df[['label']]

X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2, random_state=42)

In [ ]:
parameters = {
    'learning_rate' : ['constant','adaptive','invscaling'],
    'hidden_layer_sizes' : [[75],[120],[149],[75,75],[120,120], [149,149]],
    'activation' : ['tanh','relu','logistic','identity'],
    'solver': ['lbfgs','sgd','adam'],
    'max_iter': [200,500,1000,1500]
}

NN_model = GridSearchCV(
    MLPClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)

print('NN',NN_model.best_params_)
print('NN',NN_model.best_score_)

In [ ]:
y_pred = NN_model.predict(X_test)
print(classification_report(y_test,y_pred))

### 1.1:Using data with more count per-word. with BB and train all banking: train only Kbank.

In [33]:
df = pd.read_csv('data_more_count.csv') 
 
df = pd.get_dummies(data= df, columns=['level','page_num','block_num','par_num','line_num'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height

df_test = df[df.Bank == 'krungsri'] 
df = df[df.Bank== "Kbank"] 
df = df.drop(columns=['word','Bank'])
df_test = df_test.drop(columns=['word','Bank'])

print(df)
print('\n')
print(df_test)

      left   top  width  ...  line_num_8  range_width  range_height
0       41    11    645  ...           0          686            82
1       42    11    608  ...           0          650            81
2       42    15    201  ...           0          243            50
3       78    28    800  ...           0          878           146
4       78    28    800  ...           0          878           146
...    ...   ...    ...  ...         ...          ...           ...
3732   628  1133    295  ...           0          923          1225
3733   781  1255     61  ...           0          842          1274
3734   852   975     71  ...           0          923          1066
3735   811   975     41  ...           0          852          1111
3736   923   930      4  ...           0          927          1083

[3737 rows x 147 columns]


      left   top  width  ...  line_num_8  range_width  range_height
3737    83    31     78  ...           0          161           109
3738    83    31     78  ...           0          161           109
3739    84    31     78  ...           0          162           109
3740    84    31     78  ...           0          162           109
3741    86   140    113  ...           0          199           168
...    ...   ...    ...  ...         ...          ...           ...
5367   313   844    288  ...           0          601           870
5368   313   844    288  ...           0          601           870
5369   313  1071    286  ...           0          599          1097
5370   313  1071    287  ...           0          600          1097
5371   313  1071    287  ...           0          600          1097

[1635 rows x 147 columns]

In [34]:

X_train = df.drop(columns= ['label'])
y_train = df[['label']]


X_test = df_test.drop(columns= ['label'])
y_test = df_test[['label']]


parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print(KNN_Model.best_params_)
print(KNN_Model.best_score_)

{'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'}
0.9585482750968222

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [35]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

     Account       0.03      0.03      0.03        39
      Amount       0.33      0.07      0.12       290
        Name       0.00      0.00      0.00        25
      NotUse       0.39      0.95      0.56       635
     RefCode       0.00      0.00      0.00       262
      Timing       0.00      0.00      0.00       384

    accuracy                           0.38      1635
   macro avg       0.13      0.17      0.12      1635
weighted avg       0.21      0.38      0.24      1635

________________________________________________________________________________

In [ ]:
df = pd.read_csv('data_more_count.csv') 
 
df = pd.get_dummies(data= df, columns=['level','page_num','block_num','par_num','line_num'])
range_width = df['left'] + df['width']
range_height = df['top'] + df['height']
df['range_width'] = range_width 
df['range_height'] = range_height

df_test = df[df.Bank == 'krungsri'] 
df = df[df.Bank== "Kbank"] 
df = df.drop(columns=['word','Bank'])
df_test = df_test.drop(columns=['word','Bank'])

print(df)
print('\n')
print(df_test)


X_train = df.drop(columns= ['label'])
y_train = df[['label']]


X_test = df_test.drop(columns= ['label'])
y_test = df_test[['label']]

In [ ]:
parameters = {
    'learning_rate' : ['constant','adaptive','invscaling'],
    'hidden_layer_sizes' : [[75],[120],[149],[75,75],[120,120], [149,149]],
    'activation' : ['tanh','relu','logistic','identity'],
    'solver': ['lbfgs','sgd','adam'],
    'max_iter': [200,500,1000,1500]
}

NN_model = GridSearchCV(
    MLPClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)

print('NN',NN_model.best_params_)
print('NN',NN_model.best_score_)

In [ ]:
y_pred = NN_model.predict(X_test)
print(classification_report(y_test,y_pred))

# 2:Using data with more count per-word. without BB and train all banking

In [17]:
df = pd.read_csv('data_more_count.csv') 
df = pd.get_dummies(data= df, columns=['Bank','level','page_num','block_num','par_num','line_num'])
df = df.drop(columns=['word','left','top','width','height'])
print(df)

      CEng  Ctha  CNum  CSym  ... line_num_5  line_num_6  line_num_7  line_num_8
0        0    12     1     5  ...          0           0           0           0
1        0    11     1     4  ...          0           0           0           0
2        0    11     0     3  ...          0           0           0           0
3        0    11     0     6  ...          0           0           0           0
4        2    11     0     4  ...          0           0           0           0
...    ...   ...   ...   ...  ...        ...         ...         ...         ...
5367     4     0     9     0  ...          0           0           0           0
5368     4     0     9     0  ...          0           0           0           0
5369     4     0     9     0  ...          0           0           0           0
5370     4     0     9     0  ...          0           0           0           0
5371     4     0     9     0  ...          0           0           0           0

[5372 rows x 143 columns]

In [18]:
dataX = df.drop(columns=['label'])
dataY = df[['label']]
modelClf = tree.DecisionTreeClassifier().fit(dataX, dataY)

array_important = []

for i,j in enumerate(dataX):
  score_f = modelClf.feature_importances_
  print(j, '= ', score_f[i])

CEng =  0.012079985525738593
Ctha =  0.0010053579208025147
CNum =  0.42519580001750845
CSym =  0.034044177307210814
ฎ =  0.0
พ =  2.5037128909932086e-06
ฑ =  0.0
ธ =  0.0007149203917660644
ร =  0.0
ณ =  0.0
น =  0.00013228393694769924
ย =  0.0005252162237330889
ญ =  0.0
บ =  0.0
ฐ =  0.0
ล =  0.0
ฟ =  0.0
ฤ =  0.0
ห =  0.0
ฆ =  0.0
ก =  0.0
ฏ =  0.0
ด =  0.0
ฌ =  0.0
ษ =  0.0
ส =  0.0
ศ =  0.0
ว =  0.0
ซ =  0.0
ง =  0.0005107499092218705
ผ =  0.0
ป =  0.0
ฉ =  0.0
อ =  0.0
ฮ =  0.0
ท =  0.006714963955639083
ม =  0.0
ฒ =  0.0
ฬ =  0.0
ฝ =  0.0
ฦ =  0.0
ภ =  0.0
ถ =  0.0
ค =  8.949441823101085e-06
ต =  0.0
จ =  9.406857738503047e-05
ข =  0.0
ช =  0.0
q =  0.0
w =  0.0
e =  0.0
r =  0.0
t =  0.0
y =  0.0
u =  0.0
i =  0.0
o =  0.0
p =  0.0
a =  0.0
s =  0.0
d =  0.0
f =  0.0
g =  0.0
h =  0.0
j =  0.0
k =  0.0
l =  0.0
z =  0.0
x =  0.0
c =  0.0
v =  0.0
b =  0.0
n =  0.00118413835782388
m =  0.0
1 =  0.007106749152751195
2 =  0.0022420221926339723
3 =  0.0008942204483274577
4 =  0.003288276719773378
5 =  0.0007649602976989627
6 =  0.002264835088833921
7 =  0.0004535449266778261
8 =  0.0004726855197339587
9 =  0.0010671095692220511
0 =  0.04047009638138834
! =  0.0
@ =  0.0
# =  0.0
$ =  0.0
% =  0.005747340709970184
^ =  0.0
& =  0.0
* =  0.0
( =  0.0
) =  0.0
- =  0.002201057728657551
_ =  0.0
=' =  0.0
+ =  0.0007413303741598705
{ =  0.0
} =  0.0
[ =  0.0
] =  0.0
; =  0.0
: =  0.24302680738688412
< =  0.0
> =  0.0
. =  0.19017958262553597
? =  0.0
/ =  0.0
฿ =  0.0
blank =  0.0
blankSpace =  0.0
Bank_Kbank =  0.0013517809076205093
Bank_krungsri =  0.001128422068205374
level_4 =  0.0
page_num_1 =  0.0
block_num_1 =  0.0010097584412202465
block_num_2 =  0.001119519383988501
block_num_3 =  0.0019325563138388522
block_num_4 =  0.0001701534561523343
block_num_5 =  0.0
block_num_6 =  0.0011743873957912416
block_num_7 =  0.0005174684688798822
block_num_8 =  0.00043597927308915656
block_num_9 =  0.0005251271436408667
block_num_10 =  0.00010491043773732953
block_num_11 =  0.0005419987107165042
block_num_12 =  0.0
block_num_13 =  0.0
block_num_14 =  0.0
par_num_1 =  0.0036917192585284426
par_num_2 =  0.0
par_num_3 =  0.0
par_num_4 =  0.0
line_num_1 =  0.002081935375335455
line_num_2 =  0.00047034288692515285
line_num_3 =  0.0
line_num_4 =  0.00012917357959864033
line_num_5 =  0.00048103249799163366
line_num_6 =  0.0
line_num_7 =  0.0
line_num_8 =  0.0

In [19]:
X_train, X_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2, random_state=42)

parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print(KNN_Model.best_params_)
print(KNN_Model.best_score_)

{'algorithm': 'brute', 'n_neighbors': 3, 'weights': 'uniform'}
0.9739356201099169

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [20]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       0.64      0.88      0.74         8
      Amount       1.00      1.00      1.00       172
        Name       0.62      0.56      0.59         9
      NotUse       0.99      0.97      0.98       466
     RefCode       0.96      0.99      0.97       194
      Timing       0.99      1.00      1.00       226

    accuracy                           0.98      1075
   macro avg       0.87      0.90      0.88      1075
weighted avg       0.98      0.98      0.98      1075

## 2.1 Using data with more count per-word. without BB and train only kbank.

In [38]:
df = pd.read_csv('data_more_count.csv') 
df = df.drop(columns=['word','left','top','width','height'])

df = pd.get_dummies(data= df, columns=['level','page_num','block_num','par_num','line_num'])

df_test = df[df.Bank == 'krungsri'] 
df = df[df.Bank== "Kbank"] 
df = df.drop(columns=['Bank'])
df_test = df_test.drop(columns=['Bank'])

print(df)
print('\n')
print(df_test)

      CEng  Ctha  CNum  CSym  ... line_num_5  line_num_6  line_num_7  line_num_8
0        0    12     1     5  ...          0           0           0           0
1        0    11     1     4  ...          0           0           0           0
2        0    11     0     3  ...          0           0           0           0
3        0    11     0     6  ...          0           0           0           0
4        2    11     0     4  ...          0           0           0           0
...    ...   ...   ...   ...  ...        ...         ...         ...         ...
3732     0     3     0     1  ...          0           0           0           0
3733     0     0     0     2  ...          0           0           0           0
3734     2     0     0     0  ...          0           0           0           0
3735     0     0     0     1  ...          0           0           0           0
3736     0     0     0     1  ...          0           0           0           0

[3737 rows x 141 columns]


      CEng  Ctha  CNum  CSym  ... line_num_5  line_num_6  line_num_7  line_num_8
3737     2     0     0     0  ...          0           0           0           0
3738     2     0     0     0  ...          0           0           0           0
3739     2     0     0     0  ...          0           0           0           0
3740     2     0     0     0  ...          0           0           0           0
3741     8     0     0     0  ...          0           0           0           0
...    ...   ...   ...   ...  ...        ...         ...         ...         ...
5367     4     0     9     0  ...          0           0           0           0
5368     4     0     9     0  ...          0           0           0           0
5369     4     0     9     0  ...          0           0           0           0
5370     4     0     9     0  ...          0           0           0           0
5371     4     0     9     0  ...          0           0           0           0

[1635 rows x 141 columns]

In [39]:

X_train = df.drop(columns= ['label'])
y_train = df[['label']]


X_test = df_test.drop(columns= ['label'])
y_test = df_test[['label']]


parameters = {
    'n_neighbors': [3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43], 
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}

KNN_Model = GridSearchCV(
    KNeighborsClassifier(),
    parameters,n_jobs=-1, cv=5).fit(X_train, y_train)
print(KNN_Model.best_params_)
print(KNN_Model.best_score_)

{'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'}
0.9810027990750882

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

In [40]:
y_pred = KNN_Model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     Account       0.00      0.00      0.00        39
      Amount       0.94      0.43      0.59       290
        Name       0.00      0.00      0.00        25
      NotUse       0.55      0.94      0.70       635
     RefCode       0.00      0.00      0.00       262
      Timing       0.98      0.99      0.99       384

    accuracy                           0.68      1635
   macro avg       0.41      0.39      0.38      1635
weighted avg       0.61      0.68      0.61      1635